@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,100);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,800);
@import url(https://fonts.googleapis.com/css?family=Bad+Script);
@import './colors.scss';

@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_alerts.scss';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_alerts.scss';
@import './variables.scss';
@import '../../node_modules/frame-ui/css/sass/_variables.scss';
@import '../../node_modules/frame-ui/css/sass/_render-engine.scss';
@import '../../node_modules/frame-ui/css/sass/frame.scss';

@import './components/header.scss';
@import './components/loader.scss';

@import './pages/view.scss';
@import './pages/home.scss';
@import './pages/create.scss';
@import './pages/test-case-details.scss';


.frame{
  color: $grey800;
  font-size: 14px;
  .logo{
    position: fixed;
    font-size: 25px;
    text-decoration: none;
    font-weight: 100;
    top: 0;
    left: 0;
    font-family: 'Work Sans', sans-serif;
    background: $primary;
    padding: 16px 16px;
    box-sizing: border-box;
    &:hover{
      color: $white;
    }
    &:active{
      color: $white;
    }
    &:visited{
      color: $white;
    }
  }
  .toast-container{
    position: fixed;
    bottom: 20px;
    width: 300px;
    transition: all 0.5s cubic-bezier(.55,0,.1,1);
    opacity: 1;
    z-index: 1040;
    left: 20px;
    .alert-success{
      background-color: $grey800;
      color: $white;
      border: none;
      border-left: 5px solid $primary;
    }
    &.closed{
      opacity: 0;
      bottom: -100px;
    }
    .toast{
      width: 300px;
      position: relative;
      margin-bottom: 0;
      .close{
        padding-left: 20px;
        float: right;
        cursor: pointer;
      }
    }
  }

  ::-moz-selection { /* Code for Firefox */
    color: $white;
    background: rgba($primary,.5)
  }

  ::selection {
    color: $white;
    background: rgba($primary,.5)
  }
  ::-webkit-input-placeholder {
    color: $grey400;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $grey400;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $grey400;
  }

  :-ms-input-placeholder {
    color: $grey400;
  }
  .placeholder{
    position: relative;
    width: 100%;
    .line{
      background-color: $grey200;
      margin-bottom: 35px;
      height: 10px;
      overflow: hidden;
      position: relative;
      &:before{
        content: " ";
        background-color: $grey100;
        width: 100%;
        height: 60px;
        position: absolute;
        animation: loader 1s linear infinite;
        -webkit-filter: blur(5px);
      }
      &:nth-child(1){
        width: 60px;
        height: 50px;
        margin-top: 10px;
      }
      &:nth-child(2){
        width: 90%;
      }
      &:nth-child(3){
        width: 80%;
      }
      &:nth-child(4){
        width: 70%;
      }
    }
    hr{
      height: 1px;
      border: none;
      background-color: $grey200;
      margin: 50px 0px;
    }
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
  }
  max-width: 900px;

  select{
    -webkit-appearance: none;
    border: none;
    padding: 10px;
    outline: none;
    background-image: url('/img/down_arrow.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 6px) center;
    padding-right: 30px;
    max-width: 500px;
  }
  #app{
    .content-body{
      margin-top: 100px;
      position: relative;
    }
  }
  .row:before,.row:after{
    content: ' ';
    display: table;
  }
  input[type = 'text'],textarea{
    display: block;
    font-size: 14px;
    margin-top: 10px;
    font-family: inherit;
    border: none;
    background-color: $grey100;
    outline: none;
    min-width: 50%;
    max-width: 100%;
    padding: 10px;
    border-radius: 4px;
    min-height: 0px;
    resize: none;
    transition: min-width .2s ease-in-out, min-height .2s ease-in-out .2s;
    &:focus{
      min-width: 100%;
      // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
  }
  textarea:focus{
    min-height: 300px;
  }
  button{
    cursor: pointer;
    transition: all .1s linear;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    &:hover{
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    &:active{
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
  }

}

::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $purple600;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $grey100;
}
